.Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    margin-bottom: 2rem;
}
.Card{
        width: 12rem;
        border-radius: 5px;
        cursor: pointer;
        height: 11rem;
        display: flex;
        flex-direction: column;
        padding: 16px;
        transition: border-color 0.2s ease-out;
        justify-content: space-between;

    &__content{

        &__title{
            font-size:1.2rem;
            font-weight: 600;
            color:var(--color-primary-text-dark);
        }
        &__text{
            font-size:1rem;
            display:flex;
            flex-wrap: wrap;
            color:var(--color-primary-text-medium);
        }
    }
    &:hover{
        // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
    .Card{
        width:13rem !important;
    }
}
@media only screen and (max-width: 200px) {
    .Card{
        width:12rem;
    }
}