:root {
  --color-primary-buttons: #5A4AD1;
  --color-progress: #847CC6;
  --color-progress-background:#bdc5d6;

  --color-primary-text: #40434A;
  --color-primary-text-dark: #1c2334;
  --color-primary-text-medium: #9BA0AB;
  --color-primary-text-light: #F4F6F9;
}